.number {
	text-align: right;
}

.number-positive {
	color: black;
	text-align: right;
}

.number-negative {
	color: red;
	text-align: right;
}

.light-text {
	color: grey;
} 

.bolder {
	font-weight: bold;
}